
<html>
<head>
</head>
<body bgcolor= black>
<table width="1024px" align="center" id="Table1" border="0" cellspacing="0" cellpadding="0">
<tr>
   <td width="100px" height="594" rowspan="4" background="上海复旦医院后勤服务有限公司[首页]_files/bj_left.jpg" >&nbsp; </TD>
   <td width="924px" height="73" align="left" colspan=2 style="color:#ffffff; font-size:200%;" ><IMG  src="上海复旦医院后勤服务有限公司[首页]_files/logo.png">上海复旦医院后勤服务有限公司</td>
</tr>
<tr>
<td width="924px" height="35" align="center" background="上海复旦医院后勤服务有限公司[首页]_files/green.jpg"  valign="middle" colspan=2><FONT color="#ffffff"><B> 当前报修项目实时状态</B></FONT></td>
</tr>

<tr>
<td width="170px" id ="left">
      <TABLE  width="100%" border="0" cellspacing="0" cellpadding="0">
         <TR>
          <TD width="100%" height="139" align="center" valign="top"><IMG  
            height="139" src="上海复旦医院后勤服务有限公司[首页]_files/left.jpg"></TD>                
         </TR>
	
	<TR>
                <TD height="9" width="100%"
                ></TD>
        </TR>
        <TR>
           <TD width="100%" height="32" align="center"  ><div  
 style="padding-top: 5px;width:162px;background-image:url(上海复旦医院后勤服务有限公司[首页]_files/bj_green.jpg);" ><b>重要通知</b></div></TD>
        </TR>
	<TR>
          <TD width="100%" height="297" align="center" id="TD1"     valign="top" ><div  style="color:white;padding:5px;align:left;width:95%;text-indent:2em; text-align:left;line-height: 150%">通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知通知</div></TD>
        </TR>
	<TR>
                <TD width="100%" height="9" 
               ></TD>
        </TR>
      </TABLE>                
</td>
<td width="754px" id ="right" style="padding-left:5px;" >
      <TABLE  width="100%" border="0" cellspacing="0" cellpadding="0">
	
	<TR>
          <TD width="100%" align="center" height="320" valign="top"><div  style="margin:2px；align:left;width:95%;height:95%;text-align:left">


                        <MARQUEE width="100%" height="100%" id="typhoon" 
                        onmouseover="typhoon.stop()" onmouseout="typhoon.start()" 
                        scrolldelay="100" direction="up" scrollamount="1">
                        <TABLE width="100%" align="center"  
                        border="0" cellspacing="5" cellpadding="2" style="color:#ffffff;" >


                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left; "><SPAN>0 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>1 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>2 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>3 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>4 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>5 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>6 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>7 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>8 </SPAN>复旦大学附属中山医院</TD></TR>
                          <TR><TD height="18" style="border-bottom:#00ff00 dotted thin;text-align:left"><SPAN>9 </SPAN>复旦大学附属中山医院</TD></TR>
                      </TABLE>
                      </MARQUEE>
</div></TD>
        </TR>
	<TR>
          <TD width="100%" height="139" align="center" ><IMG  
            src="上海复旦医院后勤服务有限公司[首页]_files/ban.jpg"></TD>                
         </TR>
      </TABLE>     
 

</td>
</tr>
<tr>
<td width="924px" height="35" align="left"  valign="middle" colspan=2 style="text-indent:2em;color:#ffffff;font-weight:bold;">Copyright &copy;2014 www.fudanmed.com,All Rights Reserved 版权所有 上海复旦医院后勤服务有限公司</td>
</tr>
</table>

</body>
</html>