
.text {
  padding: 0px 2px;
  font-family: Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
