.text {
  padding: 2px 2px;
  font-family: Verdana,"宋体 ","Lucida Grande",sans-serif;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  color:#000000;
}






